.container, .container > form {
	/*background: #000000;*/
	text-align: center;
	/*margin: 0 auto;*/
}
.wrapper {
	background-color: #000000;
}
	#reg, #login {
		border: 0.3rem solid black;
		padding: 1rem;
		width: 400px;
	}	
		#reg > h2, #login > h2 {
			margin-top: 0;
		}
		.loginAndReg > li {
			height: 30px;
		}
		.loginAndReg {
			list-style-type: none;
		}
			.inline {
				display: inline-block;
				vertical-align: top;
			}
